nav {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

dt,
dd {
  display: inline-block;
}

dd {
  margin-left: unset;
}

dl {
  margin-left: 2rem;
}
